body {
	background-color: rgb(245, 245, 245);
	font-family: 'Roboto Slab', serif;
}

.kachel {
	width: 100%;
	height: 94%;
	/*margin: 0px 0px px 15px;*/
	padding: 15px;
	background-color: #fff;
	border: 2px solid;
	border-color: #fff;
    border-radius: 5px;
	
	display: inline-block;
}

.kachel:hover {
	box-shadow: 0px 0px 12px 3px #ccc;
}

.kachel-pgm {
	width: 100%;
	height: 100%;
	/*margin: 0px 0px px 15px;*/
	padding: 15px;
	background-color: #fff;
	border: 2px solid;
	border-color: #fff;
    border-radius: 5px;
	display: inline-block;
	box-shadow: 0px 0px 12px 3px #ccc;
}

.outer-row {
	margin-bottom: 10px;
}


/*#container {
	width:1000px;
	height: 750px;
	padding: 10px;
	
    border-radius: 5px;
	
	margin: 0 auto;
}*/

.explainimg {
	width: 50%;
}

div.errorreport {
	width: 880px;/**
	height: 750px;*/
	padding: 10px;
	background-color: #FFFFFF;
	border: 4px solid;
	border-color: #EEEEEE;
    border-radius: 15px;
}

div.align {
	vertical-align: top;
	width: 100%;
	margin: 0 auto;
}

div.error {
	margin: 4;
	padding: 12px;
}

div.block  {
	width: 300px;
	display: inline-block;
}

.header{
	width: 100%;
}

.logo{
	height: 50px;
}

.badge {
	font-weight: 100;
}

.badge-primary {
	background-color: #aed361;
	color: #36363d;
}

p {
	font-size: 15px;
}

p.T1 {
	margin: 0;
	font-size: 40px;
}

p.T2 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 27px;
}

div.errormessage {
	margin: 5px 1px 5px 15px; 
	font: 16px bold;
	color: red;
}

a.back {
	margin: 0px 0px 0px 0px;

}

a.notify {
	margin: 0px 10px 0px 0px;
}

a.home {
	margin: 0px 0px 0px 0px;
}

/* unvisited link */

/* visited link */


/* mouse over link */

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #36363d ;
	text-decoration: none;
}


input.field {
	font: 25px arial, sans-serif;
	width: 75%;
}
input.button {
	font: 25px arial, sans-serif;
}

select {
	font: 25px arial, sans-serif;
	width: 76%;
}

textarea {
	resize: none;
	width: 99%;
	font: 25px arial, sans-serif;
}

.front-icon {
	font-size: 80px;
	text-align: center;
	color: #36363d;
	margin-bottom: 10px;
}

.icon-line {
	width: 17rem;
	height: 1rem;
	position: relative;
	margin-left: -8.5rem;
}

.icon-line:before {
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #cad8e2;
	left: 0;
}

.icon-line:after {
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #aed361;
	right: 0;
}

.icon-logo {
	margin: 30px 0px 30px 0px;

	height: 50px;
}

.kacheln {
	margin-left: -15px;
}

.inline-link {
	color: #aed361;
}

.btn-primary {
	background-color: #aed361;
	color: #36363d;
	border-radius: 3px;
	border-color: #aed361;
}

.btn-primary:hover {
	box-shadow: 0px 0px 12px 3px #ccc;
	background-color: #aed361;
	border-color: #aed361;
}

.button-grayed {
	background-color: #777;
	color: #36363d;
	border-radius: 3px;
	height: 25px;
	width: auto;
	margin: 5px 5px 5px 0px;
	padding: 5px 8px 2px 8px;
	vertical-align: middle;	
	text-align: center;
	display: inline-block;
}

th, td {
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
  }